* {
    box-sizing: border-box;
}


body {
    margin: 0;
    padding: 0;
}


.container {
    margin: 20px auto;
    padding: 10px;
    max-width: 1000px;
    background-color: red;
    justify-content: center;
}

.green_square {
    width: 60%;
    background-color: chartreuse;
    padding: 10px;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: flex-start;

}

.content {
    background-color: yellow;
    height: inherit;
}

.blue_square .content {
    background-color: blue;
    height: inherit;
}

.purple_square .content {
    background-color: purple;
    height: inherit;
}


.yellow_square {
    width: 75%;
    height: 200px;
    flex-shrink: 0;
    margin-bottom: 10px;
    padding: 0 5px;
}

.not {
    width: 25%;

}


.blue_square {
    padding: 0 5px;
    width: 50%;
    height: 200px;
}

.purple_square {
    width: 100%;
    height: 130px;
    margin-top: 10px;
}

@media (max-width: 540px) {
    .yellow_square {
        width: 100%;
    }

    .blue_square {
        width: 100%;
        margin-top: 5px;
    }
}

/** Стили для вертикальной ориентации экрана **/


@media only screen and (orientation: portrait) {
    /* Изменение размеров и расположения элементов */
    body {
        font-size: 14px;
    }
}

/* Стили для горизонтальной ориентации экрана */
@media only screen and (orientation: landscape) {
    /* Изменение размеров и расположения элементов */
    body {
        font-size: 16px;
    }
}